#Bot Controller Items
token.txt
twitter_creds.txt
jira_creds.txt
*.data

#Local room storage
config/room.json

#Generated Images
images/leaderboard_output.png
images/temp*
images/image.png
images/mask.png

#Python files
libs/__pycache__

#Debugging Items
*.7z